<a href="https://colab.research.google.com/github/Andres-abm/TalentoTech/blob/main/S1_Import_dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Para importar un archivo CSV a Google Colab y crear un DataFrame con pandas

Mounted at /content/drive

Vamos a importar los datos de nuestro archivo.

1. paso importar nuestra libreria (pandas) y vamos a definir un alias con as (pd)

2. definir la ruta del archivo copiando el path

3. leer datos de nuestro dataframe

In [23]:
import pandas as pd

# Cambia 'datos.csv' por el nombre de tu archivo
df = pd.read_csv('/content/dataset.csv')
print(df.head(18))

   Fecha;Region;Producto;Vendedor;Ventas (Euros)
0          31/01/2024;Oeste;Sistemas;Kevin;32855
1         1/02/2024;Central;Sistemas;Karen;30633
2            2/02/2024;Oeste;Sistemas;Sara;23151
3         3/02/2024;Central;Sistemas;David;20098
4              4/02/2024;Este;Sistemas;Ana;13531
5            5/02/2024;Este;Sistemas;Lucas;13374
6     6/02/2024;Central;Dispositivos;Karen;12948
7     7/02/2024;Central;Dispositivos;David;11420
8       8/02/2024;Oeste;Dispositivos;Kevin;10711
9          9/02/2024;Este;Dispositivos;Ana;10348
10           10/02/2024;Este;Accesorios;Ana;9323
11       11/02/2024;Este;Dispositivos;Lucas;9312
12       12/02/2024;Oeste;Dispositivos;Sara;8780
13      13/02/2024;Central;Accesorios;David;8287
14         14/02/2024;Este;Accesorios;Lucas;7667
15      15/02/2024;Central;Accesorios;Karen;6909
16         16/02/2024;Oeste;Accesorios;Sara;5442
17        17/02/2024;Oeste;Accesorios;Kevin;4744

In [24]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 1 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   Fecha;Region;Producto;Vendedor;Ventas (Euros)  18 non-null     object
dtypes: object(1)
memory usage: 272.0+ bytes
None

In [25]:
print(df.describe())

       Fecha;Region;Producto;Vendedor;Ventas (Euros)
count                                             18
unique                                            18
top            31/01/2024;Oeste;Sistemas;Kevin;32855
freq                                               1

In [26]:
print(df.head())  # Primeras 5 filas
print(df.tail())  # Ãšltimas 5 filas

  Fecha;Region;Producto;Vendedor;Ventas (Euros)
0         31/01/2024;Oeste;Sistemas;Kevin;32855
1        1/02/2024;Central;Sistemas;Karen;30633
2           2/02/2024;Oeste;Sistemas;Sara;23151
3        3/02/2024;Central;Sistemas;David;20098
4             4/02/2024;Este;Sistemas;Ana;13531
   Fecha;Region;Producto;Vendedor;Ventas (Euros)
13      13/02/2024;Central;Accesorios;David;8287
14         14/02/2024;Este;Accesorios;Lucas;7667
15      15/02/2024;Central;Accesorios;Karen;6909
16         16/02/2024;Oeste;Accesorios;Sara;5442
17        17/02/2024;Oeste;Accesorios;Kevin;4744